<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.OptionMapper">

  <!-- 查询所有学生id -->
  <select id="findAll" resultType="com.briup.app02.bean.Option">
    select * from poll_option
  </select>
  
  <!-- 查询某个学生id -->
   <select id="findById" parameterType="long" resultType="com.briup.app02.bean.Option">
    select * from poll_option where id = #{id}
  </select>
  
  <!-- 保存学生信息 -->
  <insert id="save" parameterType="com.briup.app02.bean.Option">
  	insert into poll_option values(null,#{label},#{content},#{score},#{question_id})
  </insert>
  
  <!-- 修改学生信息 -->
  <update id="update" parameterType="com.briup.app02.bean.Option">
  update poll_option 
  set label = #{label} ,content = #{content} ,score = #{score} ,question_id = #{question_id} 
  where id = #{id}
  </update>
  
  <!-- 删除学生信息 -->
  <delete id="deleteById" parameterType="long"> 
   delete from poll_option where id = #{id}
  </delete>
</mapper>
