<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.QqMapper">

  <!-- 查询所有学生id -->
  <select id="findAll" resultType="com.briup.app02.bean.Qq">
    select * from poll_qq
  </select>
  
  <!-- 查询某个学生id -->
   <select id="findById" parameterType="long" resultType="com.briup.app02.bean.Qq">
    select * from poll_qq where id = #{id}
  </select>
  
  <!-- 保存学生信息 -->
  <insert id="save" parameterType="com.briup.app02.bean.Qq">
  	insert into poll_qq values(null,#{question_id},#{questionnaire_id})
  </insert>
  
  <!-- 修改学生信息 -->
  <update id="update" parameterType="com.briup.app02.bean.Qq">
  update poll_qq 
  set question_id = #{question_id} ,questionnaire_id = #{questionnaire_id}
  where id = #{id}
  </update>
  
  <!-- 删除学生信息 -->
  <delete id="deleteById" parameterType="long"> 
   delete from poll_qq where id = #{id}
  </delete>
</mapper>
