<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.QuestionMapper">

  <!-- 查询所有学生id -->
  <select id="findAll" resultType="com.briup.app02.bean.Question">
    select * from poll_question
  </select>
  
  <!-- 查询某个学生id -->
   <select id="findById" parameterType="long" resultType="com.briup.app02.bean.Question">
    select * from poll_question where id = #{id}
  </select>
  
  <!-- 保存学生信息 -->
  <insert id="save" parameterType="com.briup.app02.bean.Question">
  	insert into poll_question values(null,#{name},#{questiontype},#{questionnaire_id})
  </insert>
  
  <!-- 修改学生信息 -->
  <update id="update" parameterType="com.briup.app02.bean.Question">
  update poll_question 
  set name = #{name} ,questiontype = #{questiontype} ,questionnaire_id = #{questionnaire_id}
  where id = #{id}
  </update>
  
  <!-- 删除学生信息 -->
  <delete id="deleteById" parameterType="long"> 
   delete from poll_question where id = #{id}
  </delete>
</mapper>
